#root {
	height: 100%;
}

.page__container {
	background-color: rgb(var(--bg-color));
	color: rgb(var(--text-color));
	height: 100%;
	width: 100%;
	display: flex;

	flex-direction: column;

	align-items: center;
	justify-content: center;
	position: relative;
	overflow: visible;

	transition: 0.3s ease-in-out;

	font-family: var(--font-regular);
	z-index: 1;
}

.content__container {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-items: center;
	align-items: center;
	gap: 2rem;
	padding: 1rem;
}

.content__container::before {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	content: "";
	z-index: -9999;
	background-image: radial-gradient(var(--bg-dots) 5%, transparent 0);
	background-size: 2rem 2rem;
	pointer-events: none;

	transition: 0.3s ease-in-out;
}

.content__container::after {
	position: absolute;
	top: 50%;
	left: 50%;
	height: fit-content;
	width: fit-content;
	transform: translate(-50%, -50%);
	content: "TODOAPP";
	z-index: -9999;
	font-family: var(--font-fancy);
	font-size: 4rem;
	color: rgba(var(--text-color), 0.1);
	filter: blur(0.1rem);
	pointer-events: none;

	transition: 0.3s ease-in-out;
}

.header__btn__container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

button.theme__toggle__button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	color: rgb(var(--text-color));
	transition: background-color 0.3s ease-in-out;
}

button.login__button {
	cursor: pointer;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	border: none;
	background-color: rgb(var(--accent-color));
	color: rgb(var(--text-color));
	font-family: var(--font-fancy);
	font-weight: bold;

	transition: background-color 0.3s ease-in-out;
}

button.login__button:hover {
	background-color: rgb(var(--secondary-color));
}

header.header__container {
	/* position: sticky;
	top: 0;
	left: 0; */
	width: 100%;
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(var(--header-color), 0.9);

	transition: background-color 0.3s ease-in-out;
}

.header__search__form {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 1rem;
	position: absolute;
	top: 1.2rem;
	right: 5rem;
}

.header__search__form > div {
	width: 0;
	overflow: hidden;
	white-space: nowrap;
	pointer-events: none;
	display: flex;

	transition: width 0.3s ease-in-out;

	input {
		border: none;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		padding: 0 0.5rem;
	}

	button {
		cursor: pointer;
		border: none;
		padding: 0 0.5rem;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
		background-color: rgba(var(--primary-color), 0.5);

		svg {
			stroke: rgb(var(--text-color-dark));
		}
	}
}

.header__search__form > div.show {
	width: 15rem;
	overflow: hidden;
	pointer-events: auto;
}

.add__note__button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	color: rgb(var(--text-color));
	height: fit-content;
	width: fit-content;

	position: absolute;
	bottom: 2rem;
	right: 2rem;
	left: auto;

	transition: 0.3s ease-in-out;
}

.add__note__button > svg {
	width: 3rem;
	height: 3rem;
}

.note__container {
	width: 10rem;
	height: 12rem;
	background-color: rgba(var(--primary-color), 1);
	font-family: var(--font-fancy);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	box-shadow: 4px 4px 12px -4px rgba(var(--bg-color-dark), 0.75);

	position: relative;

	transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
		background-color 0.3s ease-in-out;
}

.note__container:after {
	position: absolute;
	content: "";
	bottom: 1.5rem;
	left: auto;
	width: 80%;
	margin: 0 10%;
	height: 0.1rem;
	background-color: rgba(var(--secondary-color), 0.5);
	border-radius: 4rem;
}

html.dark-theme .note__container {
	color: rgb(var(--text-color-light));
	box-shadow: 4px 4px 12px -4px rgba(var(--bg-color-light), 0.75);
}

html.dark-theme .note__container.expanded > svg {
	background-color: rgb(var(--accent-color));
}

html.dark-theme .note__container.expanded {
	color: rgba(var(--text-color), 1);
	background-color: rgba(var(--secondary-color), 1);
}

html.dark-theme .note__container.expanded:after {
	background-color: rgba(var(--text-color), 0.5);
}

.note__container.expanded {
	width: 20rem;
	height: 25rem;
}

.note__container.expanded:after {
	background-color: rgba(var(--accent-color), 0.5);
}

.note__title {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1rem;
	letter-spacing: 0.2rem;
	justify-self: center;
}

.note__content {
	align-self: flex-start;
	padding: 0 1rem;
	font-size: 0.8rem;
	list-style: none;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	overflow-y: scroll;
}

.note__add__entry {
	display: grid;
	grid-template-columns: 1fr auto;

	transition: 0.3s ease-in-out;
}

.note__add__entry > input {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	font-family: var(--font-fancy);
	font-weight: bold;
	padding: 0 1rem;
	border: none;
}
.note__add__entry > button {
	border: none;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	padding: 0 0.5rem;
	background-color: rgba(var(--primary-color), 0.2);

	svg {
		stroke: rgba(var(--bg-color-light), 1);
	}
}

::-webkit-scrollbar {
	/* display: none; */
	width: 0.2rem;
}
::-webkit-scrollbar-track {
	background: #f0f0f0; /* Light background for the track */
	border-radius: 10px; /* Rounded edges for the track */
}

::-webkit-scrollbar-thumb {
	background: rgba(
		var(--accent-color),
		1
	); /* Darker color for the scroll thumb */
	border-radius: 0.5rem; /* Rounded edges for the thumb */
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(var(--secondary-color), 1); /* Change color when hovered */
}

::-webkit-scrollbar-corner {
	background: rgba(var(--text-color), 0.1); /* Match the track color */
}

.note__text {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	gap: 0.5rem;
}

.note__text > .note__text__checkbox {
	width: 1.5rem;
	aspect-ratio: 1/1;
	padding: 0.5rem;
}

.expand__note__button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	color: rgb(var(--accent-color));
	position: absolute;
	bottom: 0;
	right: 50%;
	width: 100%;
	transform: translateX(50%);
}

.expand__note__button > svg {
	width: 1.2rem;
	height: 1.2rem;
	transition: 0.3s ease-in-out;
}

.note__container.expanded .expand__note__button > svg {
	transform: rotate(-180deg);
}

html.dark-theme .note__container.expanded .expand__note__button > svg {
	color: rgb(var(--text-color));
}

.note__content__options {
	position: absolute;
	bottom: 2rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
}

.note__content__options > button {
	cursor: pointer;
	border: none;
	font-weight: bold;
	font-family: var(--font-fancy);
	padding: 0.5rem;
	border-radius: 0.5rem;
	color: rgb(var(--text-color));
}

button.mark__completed {
	background-color: rgba(173, 255, 47, 0.6);
}

button.delete__note {
	background-color: rgba(255, 0, 0, 0.6);
}

button.note__text__deletebtn {
	border: none;
	cursor: pointer;
	background-color: transparent;
}

button.note__text__deletebtn > svg {
	stroke: rgb(var(--text-color-light));
}

html.dark-theme button.note__text__deletebtn > svg {
	stroke: rgb(var(--text-color-dark));
}

.note__items__counter {
	font-family: var(--font-regular);
	position: absolute;
	top: 1.3rem;
	right: 1rem;
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--bg-color-dark), 0.5);
	z-index: 1;
}

.modal {
	z-index: 2;
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	width: 20rem;
	height: 30rem;
	transform: translate(-15%, -15%);
	background-color: rgba(var(--primary-color), 1);
	color: rgb(var(--text-color-light));
	border-radius: 0.5rem;
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.input__title,
.input__listitem {
	width: 100%;
	padding: 0.5rem 1rem;
	font-family: var(--font-fancy);
	font-weight: bold;
}

.input__title {
	font-size: 1.2rem;
	text-align: center;
	border-radius: 0.5rem;
}

.input__listitem {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.modal__input__container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.modal__input__additem__container {
	display: grid;
	grid-template-columns: 1fr auto;
}
.modal__input__additem__container > button {
	cursor: pointer;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	border: none;
	width: fit-content;
	padding: 0 1rem;
	font-family: var(--font-fancy);
	font-weight: bold;
	background-color: rgb(var(--accent-color));
	color: rgb(var(--text-color));
}

.modal__button__container {
	position: absolute;
	bottom: 1rem;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
}

.modal__listitems {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	height: 15rem;
	padding: 0 1rem;
	overflow-y: scroll;
	white-space: nowrap;
}
.modal__listitems > li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: var(--font-regular);

	button {
		border: none;
		background-color: transparent;
	}
}

.add__note__modal__button {
	cursor: pointer;
	display: flex;
	gap: 0.2rem;
	align-items: center;
	padding: 0.5rem;
	font-family: var(--font-fancy);
	font-weight: bold;
	border-radius: 0.5rem;
	border: none;
	background-color: rgb(var(--accent-color));
	color: rgb(var(--text-color));
}
.modal__button__container .close__modal__button {
	cursor: pointer;
	background-color: transparent;
	border: 0.3rem solid red;
	border-radius: 50%;
	padding: 0.1rem;
	display: flex;
	align-items: center;
}
.close__modal__button > svg {
	width: 2rem;
	height: 2rem;
	stroke: red;
	stroke-width: 0.2rem;
}

@media (width < 769px) {
	header.header__container {
		position: absolute;
		bottom: 0;
		left: 0;
		top: auto;
		justify-content: flex-end;
	}

	header > h1 {
		display: none;
	}

	.header__btn__container {
		justify-content: space-between;
		width: 100%;
	}

	.add__note__button {
		bottom: 0;
		right: 50%;
		transform: scale(2) translateX(25%);
	}

	.add__note__button,
	.add__note__button > svg {
		overflow: hidden;
	}

	.header__search__form {
		grid-template-columns: 6rem;
		grid-template-rows: 1fr auto;
		bottom: 1rem;
		top: auto;
		right: 1rem;
	}

	.header__search__form > div {
		flex-direction: column;
	}

	.header__search__form > div > input {
		border-radius: 0.5rem;
		padding: 0.5rem 0.2rem;
		font-family: var(--font-regular);
	}

	.header__search__form > div > button {
		border-radius: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.2rem;
		background-color: rgba(var(--primary-color), 0.5);

		svg {
			stroke: rgb(var(--text-color-dark));
		}
	}

	.header__search__form > div.show {
		width: 7rem;
		overflow: hidden;
		pointer-events: auto;
	}

	.page__container {
		justify-content: flex-start;
	}

	.content__container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, 1fr);
		width: 100%;
		height: 90%;
		padding: 1rem 1rem;
	}

	.note__container {
		transform: none !important;
		margin: 0.5rem auto;
		width: 100%;
	}

	.note__content {
		font-size: 1rem;
		font-weight: bold;
	}
	.note__container.expanded {
		width: 100%;
		height: 30rem;
		background-color: rgba(var(--secondary-color), 1);
	}

	.modal {
		width: 90%;
		height: 50%;
		bottom: 0;
		right: 0;
		transform: translate(-5%, -25%);
	}

	.modal__listitems {
		height: 10rem;
	}
}
